* text=auto
*.rs text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.js text eol=lf
*.cjs text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.py text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.ps1 text eol=crlf
*.png -text
*.ico -text
*.bin -text
